@import '../base.css';


.item {
    position: relative;
    margin-top: 10%;
    margin-left: 3%;
    margin-right:3%;
    border: solid 2px #F2F0EB;
    border-radius: 25px;
    padding: 20px;
    width: 25vh;
    height: 35vh;
    box-shadow: 2px 2px #F2F0EB;
    background-color: #e5fbe5;
}

.item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: hand;
}


.location {
    position: absolute;
    margin-top: 10%;
    padding-left: 5%;
}

.price {
    position: absolute;
    margin-top: 10%;
    padding-left: 60%;

}

.shortDesc {
    position: absolute;
    margin-top: 0vh;
    text-align: left;
}

img{
    max-width: 25vh;
    max-height: 30vh;
    height: 20vh;
    margin-top: 5vh;
    border: solid 2px black;
    border-radius: 25px;
}


p {
    margin-left: 200px;
}