@import '../base.css';

.flex-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    max-width: 150vh;

}

.flex-container_items {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container > div {
    margin-left: 50px;
    margin-bottom: 10px;
}

.dropbtn {
    width: 70px;
    height: 28px;
    background-color: #1c87c9;
    color: #ffffff;
    margin-top: 5%;
    border: solid 1px black;
    font-size: 16px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

form {
    width: 400px;
}

input {
    top: 8%;
    padding: 4px 10px;
    font-size: 16px;
    border: solid 1px black;
}

.search {
    margin: 1%;
    width: 75%;
}

.submit {
    width: 70px;
    background-color: #1c87c9;
    color: #ffffff;
}

.submit:hover {background-color: #3e8e41}

.filterContainer{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    position: relative;
    margin-top: 10%;
    margin-left: 3%;
    margin-right:3%;
    border: solid 2px #F2F0EB;
    border-radius: 25px;
    padding: 20px;
    width: 25vh;
    height: 35vh;
    box-shadow: 2px 2px #F2F0EB;
    background-color: #F9F4F2;
}

.item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: hand;
}



.location {
    position: absolute;
   margin-top: 10%;
    padding-left: 5%;
}

.price {
    position: absolute;
    margin-top: 10%;
    padding-left: 60%;

}

.shortDesc {
    position: absolute;
    margin-top: 0vh;
    text-align: left;
}

img{
    max-width: 25vh;
    max-height: 30vh;
    height: 20vh;
    margin-top: 5vh;
    border: solid 2px black;
    border-radius: 25px;
}


.button{
    width: 50px;
    height: 5px;
    margin-top: 0px;
    border-radius: 5px;
    background: none;
    cursor: pointer;
}

.activeButton#heart:before,.activeButton#heart:after{
    background: red !important;
}
#heart {
    margin-left: 100px;
    width: 10px;
    height: 9px;
    transition: background 0.5s ease;

}
#heart:before,
#heart:after {
    transition: background 0.5s ease;
    position: absolute;
    content: "";
    left: 17px;
    top: 0;
    width: 18px;
    height: 28px;
    margin-left: 84%;
    margin-top: 2%;
    background: dimgrey;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#heart:hover {
}
#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}

