
#name_project {
    font-weight: 700;
}
.container {
    width: 400px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border: solid 2px black;
    border-radius: 25px;
    padding: 40px;
}
.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input > label {
    text-align: start;
}
.input > input {
    margin-top: 6px;
    height: 38px !important;
}
/* From uiverse.io */
.btn-pers, .changePasswordBtn {
    margin-top:25px;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    padding: 1em 2.5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    transform: translateX(-50%);
}

.changePasswordBtn:hover {
    background-color: #198754;
    color: #fff;
}

.btn-pers:hover {
    background-color: #198754;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translate(-50%, -7px);
}
.btn-pers:active {
    transform: translate(-50%, -1px);
}
/*  */
.alternative-option {
    text-align: center;
}
.alternative-option > span {
    color: #0d6efd;
    cursor: pointer;
}

.alert {
    text-align: center;
    font-weight: bold;
    margin: 4%;
}
#sign_out {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

