
.itemForm {
    align-content: center;
    margin-top: 3vh;
    display: inline-block;
}

.filterContainer{
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    min-width: 450px;
    width: 45%;
    max-height:750px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    border-radius: 25px;
}

.flex-container {
    flex-direction: row;
    flex-wrap: wrap;
}



.inputLabel, .inputNumber {
    margin-top: 3%;
    padding: 4px 10px;
    font-size: 16px;
    flex-direction: row;
    flex-wrap: wrap;


}

.inputForm {
    margin-top: -3.5vh;
    margin-left: 28vh;

}

#latitude,#longtitude, #price {
    width: 8vh;
}
#latitude {
    margin-left: 5vh;
}

textarea {
    max-height: 200px;
    max-width: 300px;
    height: 80px;
    width: 250px;
}


#category, #longDesc {
    margin: 3%;
    display: inline-block;
}

#rightInput {
    margin-left: 20vh;
}

#uploadBtn {
    margin-top:25px;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    padding: 1em 2.5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    transform: translateX(-50%);
}

#uploadBtn:hover {
    background-color: #198754;
    color: #fff;
}

