body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: relative;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a.active {
    background-color: #1c87c9;
    color: white;
}


h1{
    margin: 3%;
}