<template>
<h1>Your favorites!</h1>

  <div class="filterContainer_items">
    <div v-if="favorites.length" class="flex-container_items">
      <div class="item" v-for="(item, index) in favorites" :key="index">
        <router-link :to="`/item/${item.id}`" @click="itemInfo(item)">
          <div class="img">
            <img :src="'data:image/png;base64,' + item.image" alt="">
          </div>
          <div class="name">
            {{item.name}}
          </div>
          <div class="location">
            {{"location"}}
          </div>
          <div class="price">
            {{item.price + " kr"}}
          </div>
          <div class="shortDesc">
            {{item.shortDesc}}
          </div>
        </router-link>
      </div>
    </div>
    <div v-else id="">
      <p> No items added to favorites yet...</p>
    </div>
  </div>


</template>

<script>
import {useUserStore} from "@/stores/user";
import axios from "axios";
const store = useUserStore();
export default {

  data() {
    return {
      favorites: {}
    }
  },
  async mounted() {

    if(store.user.name === ""){
      this.$router.push("/login");
    }

    await axios.get(`http://localhost:8081/api/favorites/me`, {headers: {"Authorization": "Bearer " + store.user.jwt}})
        .then(res => this.favorites = res.data)
  },
  methods:{

  }

}
</script>
<style scoped>
@import "../../assets/styles/favorites.css";
</style>