
<!-- TODO: CSS styling -->
<template xmlns="http://www.w3.org/1999/html">

  <div id="itemPage">

    <div id="leftColumn">

      <div id="image"><img :src="'data:image/png;base64,' + itemData.image" alt=""></div>
      <div id="title">{{itemData.name}}</div>
      <h3>--- Description ---</h3>
      <div id="description">{{itemData.longDesc}}</div>
    </div>

    <div id="rightColumn">

      <div id="user">
        <div id="price">{{itemData.price}} kr</div>
        <div id="userImage"><img src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" /></div>
        <div id="underImage">
          <div id="username">{{user.username}}</div>
          <router-link :to="`/chats/`" @click="createChat()">
            <button id="contactButton">Contact Seller</button>
          </router-link>
        </div>
      </div>
      <iframe width="308" height="184" id="gmap_canvas" src="https://maps.google.com/maps?width=408&amp;height=284&amp;hl=en&amp;q=%20Ranheim+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
      <div id="coords">
        <div id="latitude">lat:{{itemData.latitude}} -</div>
        <div id="longtitude">- long:{{itemData.longtitude}}</div>
      </div>
    </div>

  </div>


</template>

<script>
import axios from "axios";
import {useUserStore} from "@/stores/user";
const store = useUserStore();

export default {
  data(){
    return{
      itemData: {},
      user: {}
    }
  },
  async mounted() {
    let itemId = this.$route.params.id;

    await fetch(`http://localhost:8081/api/items/list/${itemId}`)
        .then(response => response.json())
        .then(data => this.itemData = data)
        .catch(err => console.log(err));
    this.user = this.itemData.user;

    if(store.user.name === this.itemData.user.username){
      let button = document.getElementById("contactButton");
      button.style.visibility = "hidden";
    }

  },
  methods:{
    async createChat(){

      let data = {
        userId: this.user.id
      }

      let config = {
        headers:{
          "Authorization": "Bearer " + store.user.jwt,
          "Content-Type": "multipart/form-data"
        }
      }

      await axios.post("http://localhost:8081/api/chat/create", data, config)
          .then(response => console.log(response))
          .catch(err => console.log(err))

    }
  }
}
</script>

<style scoped>

  #itemPage{
    display: flex;
    background-color: white;
    width: 45%;
    height: 100vh;
    padding: 70px;
    margin: 25px auto 0;
  }

  #leftColumn{
    width: 50%;
  }

  #leftColumn #title{
    font-size: 75px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    width: 45vh;
    overflow-x: auto;
  }

  #leftColumn img{
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    width: 35vh;
    height: 35vh;
  }

  #leftColumn #description{
    margin-top: 20px;
    background-color: #ffffff;
    padding: 10px;
    width: 45vh;
  }

  #rightColumn{
    text-align: right;
    font-size: 4vh;
    margin: 0 auto 0;
  }

  #rightColumn #price{
    color: white;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    background-color: lightblue;
    border-radius: 10px;
    text-align: right;
    padding-right: 10px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin: 0 0 0 auto;

  }

  #rightColumn img{
    width: 12vh;
    height: 12vh;
    margin-right: 5vh;
  }

  #rightColumn #user{
    width: 60%;
    margin: 0 0 10vh auto;
  }

  #rightColumn #underImage{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
  }
  #rightColumn #contactButton{
    font-size: 16px;
    font-weight: bold;
  }

  button:hover{
    cursor: pointer;
  }

  #rightColumn #coords{
    display: flex;
    justify-content: center;
    font-size: 15px;
  }

</style>