<template>

  <h1>My Listings</h1>

  <div class="filterContainer_items">
    <div v-if="items.length" class="flex-container_items">
      <div class="item" v-for="(item, index) in items" :key="index">
        <router-link :to="`/item/${item.id}`" @click="itemInfo(item)">
          <div class="img">
            <img :src="'data:image/png;base64,' + item.image" alt="">
          </div>
          <div class="name">
            {{item.name}}
          </div>
          <div class="location">
            {{"location"}}
          </div>
          <div class="price">
            {{item.price + " kr"}}
          </div>
          <div class="shortDesc">
            {{item.shortDesc}}
          </div>
        </router-link>
      </div>
    </div>
  </div>


</template>

<script>
import {useUserStore} from "@/stores/user";
import axios from "axios";
const store = useUserStore();
export default {
  name: "MyListings",

  data() {
    return {
      items: {}
    }
  },
  async mounted() {

    if(store.user.name === ""){
      this.$router.push("/login");
    }

    await axios.get(`http://localhost:8081/api/items/list/me`, {headers: {"Authorization": "Bearer " + store.user.jwt}})
        .then(res => this.items = res.data)
  },
  methods:{
    itemInfo(item){

    }
  }

}
</script>

<style scoped>

</style>