
<!-- TODO: CSS styling -->
<template xmlns="http://www.w3.org/1999/html">

  <div>

    <div class="filterContainer">

      <h1>Upload item for sale!</h1>

      <div class="flex-container">
    <form class="itemForm" @submit.prevent="uploadItem">

      <div class="inputLabel">
      <label for="name">Name</label>
        <label for="category" id="rightInput">Category</label>
      </div>


        <input type="text" id="name" v-model="item.name" placeholder="Name of item" />
      <select id="category" v-model="item.category">
        <option v-for="(category, index) in categoryList" :key="index" :value="category">
          {{category}}
        </option>
      </select>


      <div class="inputLabel">
        <label for="shortDesc">Short Description</label>
        <label for="price" id="rightInput">Price(NoK)</label>
      </div>


      <input type="text" id="shortDesc" v-model="item.shortDesc" placeholder="short description"/>
      <div class="inputForm">
      <input type="number" id="price" min="0" v-model="item.price" placeholder="price"/>
        </div>

      <div class="inputLabel">
        <label for="longDesc">Long Description</label>
        <div>
      <textarea id="longDesc" v-model="item.longDesc" placeholder="long description"/>
      </div>
      </div>

      <div class="inputLabel">
        <label for="latitude">Latitude</label>
        <label for="longtitude" id="rightInput">Longtitude</label>
        </div>


        <input type="number" id="latitude" min="0" max="90" v-model="item.latitude" placeholder="latitude"/>
      <div class="inputForm">
      <input type="number" min="0" max="90" id="longtitude" v-model="item.longtitude" placeholder="longtitude"/>
      </div>

      <div class="inputLabel">
        <label for="image">Image</label>
      </div>
      <input type="file" accept="image/jpeg" id="image" @change="setImage"/>

    </form>
      </div>
      <div class="inputLabel">
      <button type="submit" id="uploadBtn" @click="uploadItem">send</button>
      </div>
      <div
          class="alert alert-warning alert-dismissible fade show mt-5 d-none"
          role="alert"
          id="alert"
          v-html="alertString"
      >
      </div>

    </div>
  </div>
</template>

<script>
import axios from "axios";
import {userStore} from '@/main' ;
const store = userStore;

export default {
  name: "UploadItemTest",
  data(){
    return{
      item:{
        name: '',
        shortDesc: '',
        longDesc: '',
        category: '',
        latitude: 0,
        longtitude: 0,
        price: 0,
        image: null
      },
      categoryList: [],
      alertString: ""
    }
  },
  async mounted() {

    if(store.user.name === ""){
      this.$router.push("/login");
    }

    await fetch("http://localhost:8081/api/items/categories")
        .then(response => response.json())
        .then(data => data.forEach(category => this.categoryList.push(category)))
        .catch(err => console.log(err));


  },
  methods: {
    async uploadItem() {

      if (this.item.name.length === 0 || this.item.shortDesc.length === 0 || this.item.longDesc.length === 0) {
        this.alertString = "No input fields can be blank!";
      } else if (this.item.price < 0) {
        this.alertString = "Values cannot be negative!";
      } else if (this.item.category === null || this.item.image == null) {
        this.alertString = "Image and/or category must be selected!";
      } else {
        console.log(this.item.image);

        let data = new FormData();
        data.append('name', this.item.name);
        data.append('shortDesc', this.item.shortDesc);
        data.append('longDesc', this.item.longDesc);
        data.append('category', this.item.category);
        data.append('latitude', this.item.latitude);
        data.append('longtitude', this.item.longtitude);
        data.append('price', this.item.price);
        data.append('image', this.item.image);

        await axios.post('http://localhost:8081/api/items/upload', data, {headers: {"Authorization": "Bearer " + store.user.jwt}})
            .then(response => (this.info = response))
            .then(response => console.log(response))

        this.$router.push("/");
      }
    },
    setImage(e){
      this.item.image = e.target.files[0];
      console.log(this.item.image);
    }
  }

}

</script>

<style scoped>
@import "../../assets/styles/uploadItem.css";
</style>