<template>
  <div class="container">
    <form @submit.prevent="handleEditUser">
      <h2 class="mb-3">Edit profile</h2>
      <p> Here you can change as much and as little information as you want.
       The save button will appear when any allowed change has been made. </p>
       <p> By changing the user information, you will be automatically logged out. </p>
      <br>

      <div class="input">
        <label for="email">Email address</label>
        <input
            class="form-control"
            type="text"
            name="email"
            v-model="editProfileBody.email"
            placeholder="email@adress.com"
        />
      </div>
      <div class="input">
        <label for="userName">Username</label>
        <input
            class="form-control"
            type="text"
            name="name"
            v-model="editProfileBody.name"
            placeholder="IngridErKul123"
        />
      </div>


      <div id="changePasswordBtn">
        <div class="input">
        <label for="password">New Password</label>
        <input
            class="form-control"
            type="password"
            name="password"
            v-model="editProfileBody.password"
            placeholder="password123"
        />
      </div>
      </div>


      <div v-if="(changeEmail || changeName || changePassword) && (validEmail && validName && validPassword)" >
      <button class="mt-4 btn-pers" id="login_button">
        Save changes
      </button>

      <div
          class="alert alert-warning alert-dismissible fade show mt-5 d-none"
          role="alert"
          id="alert"
          v-html="alertString"
      >
      </div>
      </div>
    </form>
  </div>
</template>

<script>

import { ref, watchEffect } from "vue";
import axios from "axios";
import {userStore} from '@/main' ;
const store = userStore;

/**
 *
 */
export default {

  data() {
    const name = ref(store.user.name);
    const email = ref(store.user.email);
    const password = ref(store.user.password);

    watchEffect(() => {
      this.validName = name.value.length !== 0
      this.changeName = store.user.name !== this.validName;
    })

    watchEffect(() => {
      const validRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      this.validEmail = email.value.toString().match(validRegex)
      this.changeEmail = store.user.email !== this.validEmail;
    })

    watchEffect(() => {
      this.validPassword = (password.value.length >= 6 && password.value.length <= 100)
      this.changePassword = store.user.password !== this.validPassword;

    })

    return {
      validEmail: true,
      validName: true,
      validPassword:true,

      changeEmail:false,
      changeName:false,
      changePassword:false,

      alertString: "",


      editProfileBody: {
        name,
        password,
        email,
      }
    }

  },

  mounted() {

    if(store.user.name === ""){
      this.$router.push("/login");
    }


    this.editProfileBody.email = store.user.email;
    this.editProfileBody.name = store.user.name;
    this.editProfileBody.password = "";
  },


  methods: {

     handleEditUser() {

      console.log(this.changePassword);

       if (this.changePassword) {
         let dataEditPassword = new FormData();
         dataEditPassword.append('password', this.editProfileBody.password);

           axios.post('http://localhost:8081/api/users/auth/update/password', dataEditPassword, {headers: {"Authorization": "Bearer " + store.user.jwt}})
               .then(response => (this.info = response))

         this.$router.push("/logOut");

       } else {

         let dataEditNameEmail = new FormData();
         dataEditNameEmail.append('username', this.editProfileBody.name);
         dataEditNameEmail.append('email', this.editProfileBody.email);

         try {
           axios.post('http://localhost:8081/api/users/auth/update/userNameEmail', dataEditNameEmail, {headers: {"Authorization": "Bearer " + store.user.jwt}})
               .then(response => (this.info = response))

           this.$router.push("/logOut");


         } catch (err) {

         this.alertString = "Username or mail already taken";

       }
      }
    }

  }};
</script>


<style>
@import "../../assets/styles/login.css";
</style>
