<template>
  <div class="container">
    <form @submit.prevent="login">
      <h2 id="mb-3">Login</h2>
      <div class="input">
        <label for="username">Username</label>
        <input
            class="form-control"
            type="text"
            id="username"
            placeholder="Daniel123"
        />
      </div>
      <div class="input">
        <label for="password">Password</label>
        <input
            class="form-control"
            type="password"
            id="password"
            placeholder="password123"
        />
      </div>
      <div class="alternative-option mt-4">
        You don't have an account? <span @click="moveToRegister">Register</span>
      </div>
      <button type="submit" class="mt-4 btn-pers" id="login_button">
        Login
      </button>
      <div
          class="alert alert-warning alert-dismissible fade show mt-5 d-none"
          role="alert"
          id="alert"
          v-html="alertString"
      >
      </div>
    </form>
  </div>
</template>
<script>
import {userStore} from '@/main' ;
const store = userStore;
import axios from "axios";
export default {
  data() {
    return {
      loginBody: {
        username: "",
        password: "",
      },
      alertString: ""
    };
  },
  methods: {
    async login(submitEvent) {
      this.loginBody.username = submitEvent.target.elements.username.value;
      this.loginBody.password = submitEvent.target.elements.password.value;

      let loginBodyJson = JSON.parse(JSON.stringify(this.loginBody));

      try {
        await axios.post('http://localhost:8081/api/users/auth/login',loginBodyJson )
            .then(response => (this.info = response))
            .then(response => {
              let responseObject = JSON.parse(JSON.stringify(response));
              store.setJwt(responseObject.data.jwt);
              store.changeName(responseObject.data.username);
              store.changeEmail(responseObject.data.email);
              store.changeAdminStatus(responseObject.data.moderator);
            })


        store.changeLoggInStatus(true);
        store.changeName(submitEvent.target.elements.username.value);


        this.$router.push("/");


      } catch (err) {
        console.log(err);
       this.alertString = "incorrect password or username";
      }

    },
    moveToRegister() {
      this.$router.push("/register");
    },
  },
};
</script>

<style>
@import "../../assets/styles/login.css";
</style>