<template>
  <div class="container">
    <form @submit.prevent="handleSignUpClick">
      <h2 class="mb-3">Sign up</h2>

      <div class="input">
        <label for="email">Email address</label>
        <input
            class="form-control"
            type="text"
            id="email"
            v-model="registerBody.email"
            placeholder="email@adress.com"
        />
      </div>
      <div class="input">
        <label for="userName">Username</label>
        <input
            class="form-control"
            type="text"
            id="name"
            v-model="registerBody.name"
            placeholder="IngridErKul123"
        />
      </div>
      <div class="input">
        <label for="password">Password</label>
        <input
            class="form-control"
            type="password"
            id="password"
            v-model="registerBody.password"
            placeholder="password123"
        />
      </div>

      <div class="alternative-option mt-4">
        Already have an account? <span @click="moveToLogin">Login</span>
      </div>

      <button v-if="validEmail && validName && validPassword" type="submit" id="singUp_button" class="mt-4 btn-pers">
        Sign up
      </button>

      <div
          class="alert alert-warning alert-dismissible fade show mt-5 d-none"
          role="alert"
          id="alert"
          v-html="alertString"
      >
      </div>
    </form>
  </div>
</template>

<script>
import {userStore} from '@/main' ;
const store = userStore;
import { ref, watchEffect } from "vue";
import axios from "axios";
import registerBody from '../../model/registerBody.json' assert { type: 'JSON' };


export default {

  data() {
      const name = ref(store.user.name);
      const email = ref(store.user.email);
      const password = ref(store.user.password);

    watchEffect(() => {
      store.changeName(name.value);
      this.validName = name.value.length != 0;
    })

    watchEffect(() => {
      store.changeEmail(email.value);
      const validRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      this.validEmail = email.value.toString().match(validRegex);
    })

    watchEffect(() => {
      store.changePassword(password.value);
      this.validPassword = password.value.length >= 6 && password.value.length <= 100;
    })

    return {
        validEmail: true,
        validName: true,
        validPassword:false,

        registerBody: {
          name,
          password,
          email,
        },
      alertString: ""
      }
    },

        mounted() {
        this.registerBody.email = store.user.email;
        this.registerBody.name = store.user.name;
        this.registerBody.password = "";

      },


  methods: {

    async handleSignUpClick() {

      registerBody.user[0].password = this.registerBody.password;
      registerBody.user[0].username = this.registerBody.name;
      registerBody.user[0].email = this.registerBody.email;

      try {
        await axios.post('http://localhost:8081/api/users/add',registerBody.user[0] )
            .then(response => (this.info = response))
            .then(response => console.log(response))

        this.$router.push("/login");


      } catch (err) {

        this.alertString = "User is already registered";

      }
    },

    moveToLogin() {
      this.$router.push("/login");
    }

  }};
</script>

<style>
@import "../../assets/styles/registeruser.css";
</style>































