<script setup>
import { RouterLink, RouterView } from 'vue-router'
import {useUserStore} from "@/stores/user";
const store = useUserStore();
</script>

<template>
  <header>

    <div class="wrapper">
      <div class="nav">
        <nav>

      <RouterLink class="active" to="/">Home</RouterLink>

          <div v-if="store.user.loggedIn && store.user.admin" class="flex-container">
            <RouterLink to="/favoritesList">Favorites List</RouterLink>
            <RouterLink to="/uploaditem">Upload Item</RouterLink>
            <RouterLink to="/chats">Chats</RouterLink>
            <RouterLink to="/listings">My Listings</RouterLink>
            <RouterLink to="modifyCategories"> Modify Categories </RouterLink>
            <RouterLink to="/editProfile" >Edit Profile</RouterLink>
            <RouterLink to="/logOut" >Log Out</RouterLink>
          </div>

          <div v-else-if="store.user.loggedIn" class="flex-container">
            <RouterLink to="/favoritesList">Favorites List</RouterLink>
            <RouterLink to="/uploaditem">Upload Item</RouterLink>
            <RouterLink to="/chats">Chats</RouterLink>
            <RouterLink to="/listings">My Listings</RouterLink>

            <RouterLink to="/editProfile" >Edit Profile</RouterLink>
            <RouterLink to="/logOut" >Log Out</RouterLink>
          </div>

          <div v-else class="flex-container">
            <RouterLink to="/login">Log in</RouterLink>
        </div>
      </nav>
      </div>
    </div>
  </header>
  <RouterView />
</template>
