<template>
<h1>Here you can see your chats</h1>

  <div id="page">
    <div id="leftColumn">
      <div v-for="(chat, index) in chats" :key="index" @click="clickChat">
        <div @click="changeChat(chat.id)" id="chat">
          <div>{{chat.userOne.username}}</div>
          <div>{{chat.userTwo.username}}</div>
        </div>
      </div>
    </div>
    <div id="rightColumn">
      <div id="messageBox">
        <div v-for="(message, index) in messages" :key="index">
          {{message.username}}: {{message.message}}
          </div>
      </div>
      <form @submit.prevent="sendMessage">
        <input type="text" v-model="message" />
        <input type="submit">
      </form>
    </div>
  </div>

</template>

<script>

import {useUserStore} from "@/stores/user";
import axios from "axios";
const store = useUserStore();

export default {
  name: "ChatsVue",
  data(){
    return{
      chats: [],
      messages: [],
      message: "",
      chatId: 0,
    }
  },

  async created() {

    await fetch("http://localhost:8081/api/chat/", {headers:{"Authorization": "Bearer " + store.user.jwt}})
        .then(response => response.json())
        .then(data => this.chats = data)
        .catch(err => console.log(err));


  },
  methods:{
    async changeChat(id) {

      await fetch(`http://localhost:8081/api/chat/messages/${id}`,{headers:{"Authorization": "Bearer " + store.user.jwt}})
          .then(response => response.json())
          .then(data => this.messages = data)
          .catch(err => console.log(err));
      this.chatId = id;
    },
    async sendMessage() {

      let data = new FormData();
      data.append("message", this.message)

      await axios.post(`http://localhost:8081/api/chat/messages/send/${this.chatId}`, data, {headers: {"Authorization": "Bearer " + store.user.jwt}})
          .then(response => (this.info = response))
          .then(response => console.log(response))

      await fetch(`http://localhost:8081/api/chat/messages/${this.chatId}`,{headers:{"Authorization": "Bearer " + store.user.jwt}})
          .then(response => response.json())
          .then(data => this.messages = data)
          .catch(err => console.log(err));

      this.message = "";
    },
    clickChat(event){
      let clickedElement = event.target.parentElement;
      for (let i = 0; i < clickedElement.parentElement.parentElement.children.length; i++) {
        let div = clickedElement.parentElement.parentElement.children.item(i).lastElementChild;
        div.style.backgroundColor = "white";
        div.style.color = "black";
        div.style.fontWeight = "normal";
        console.log(div)
      }


      clickedElement.style.backgroundColor = "#29b3d2";
      clickedElement.style.fontWeight = "bold";
      clickedElement.style.color = "white";
    }
  }
}
</script>

<style scoped>

  #page{
    display: flex;
    background-color: white;
    width: 45%;
    height: 100vh;
    padding: 70px;
    margin: 25px auto 0;
    gap: 10vh;
  }

  #leftColumn{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #leftColumn #chat{
    border: black 2px solid;
    border-radius: 15px;
    padding: 15px;
    width: 10vh;
  }

  #leftColumn #chat:hover{
    background-color: #29b3d2;
    box-shadow: 0px 15px 20px rgb(0, 0, 0);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }

  #rightColumn{
    display: flex;
    flex-direction: column;
    width: 50vh;
  }

  #rightColumn #messageBox{
    border: black 2px solid;
    height: 50vh;
  }

</style>