<template>
<div class="about">
<h1>eMarket</h1>

  <div class="filterContainer">
      <div class="flex-container">
        <select id="category" @change ="selectedCategory($event, values)">
          <option>SELECT</option>
          <option id="categoryChoice" v-for="(category, index) in categoryList" :key="index" :value="category" >
            {{category}}
          </option >
        </select>

        <div id="searchDiv">
            <form action="/form/submit" method="GET">
            <input type="text" name="text" class="search" placeholder="Search here!">
            <input type="submit" name="submit" class="submit" value="Search">
          </form>
        </div>
      </div>
  </div>

  <div class="filterContainer_items">
     <div v-if="items.length" class="flex-container_items">
       <div class="item" v-for="(item, index) in items" :key="index">
         <div class="shortDesc">
           {{item.shortDesc}}
         </div>
         <div v-if="loggedIn" id="heart" :class="{ 'activeButton': favorites.includes(index), 'heart': !favorites.includes(index)}"  @click="addedToFavorites($event, item.id)"></div>
         <router-link :to="`/item/${item.id}`" @click="itemInfo(item)">
           <div class="img">
            <img :src="'data:image/png;base64,' + item.image" alt="">
           </div>
           <div class="name">
             {{item.name}}
           </div>
           <div class="location">
           {{"location"}}
           </div>
           <div class="price">
           {{item.price + " kr"}}
           </div>
         </router-link>
        </div>
      </div>
    </div>
</div>
  </template>

<script>
import {userStore} from '@/main';
import axios from "axios";

export default {

    data() {
      return {
        loggedIn: false,
        items: [],
        categoryList: [],
        favorites: [],
        props: {
          items: {
            type: Array,
            required: true
          }
        }
      }
    },
   async created() {
     const store = userStore;

     this.loggedIn = store.user.loggedIn;

     await fetch("http://localhost:8081/api/items/categories")
         .then(response => response.json())
         .then(data => data.forEach(category => this.categoryList.push(category)))
         .catch(err => console.log(err));

     await fetch('http://localhost:8081/api/items/list')
         .then(res => res.json())
         .then(data => this.items = data)
         .catch(err => console.log(err));

     if(this.loggedIn){
       await axios.get(`http://localhost:8081/api/favorites/me`, {headers: {"Authorization": "Bearer " + store.user.jwt}})
           .then(res => {
             for (let i = 0; i < res.data.length; i++) {
               this.favorites.push(res.data[i].id - 1);
             }
           })
     }


     /*  for (let i = 0; 0 < this.items.length; i++) {
         if(store.user.favorites.includes(this.items[i])) {
           console.log("hei");
         }
       }*/

   },
    methods:{
      itemInfo(item){

      },

      addedToFavorites(itemFavorite, itemID) {
        const store = userStore;

        let data = new FormData();
        data.append('itemID', itemID);


        if (itemFavorite.target.className === "heart") {
          itemFavorite.target.className = "activeButton";

          axios.post('http://localhost:8081/api/favorites/add', data ,{headers: {"Authorization": "Bearer " + store.user.jwt}})
              .then(response => (this.info = response))


        } else {
          itemFavorite.target.className = "heart";

          axios.post('http://localhost:8081/api/favorites/remove', data ,{headers: {"Authorization": "Bearer " + store.user.jwt}})
              .then(response => (this.info = response))

        }
      },
      selectedCategory(event){
        console.log(event );
      }
    }
  }

</script>

<style>
@import '../assets/styles/home.css';
</style>
